<h2> Showing a Todo </h2>

<p>
	name: <%= @todo.name %>
</p>


<p>
	description: <%= @todo.description %>
</p>
<%= link_to 'Edit This Todo', edit_todo_path(@todo) %> |
<%= link_to 'Back To Todo Listing', todos_path %>